<html>
  <head>
    <style>
      .head {
        padding: 30px;
      }
      .title {
        margin-top: 30px;
        text-align: center;
      }
      .text {
        text-align: right;
      }
      table {
        width: 100%;
        border-collapse: collapse;
      }
      td {
        padding: 10px;
        vertical-align: top;
      }
    </style>
  </head>
  <div class="contract-box">
    <form>
      <div class="head">
        <h2 class="title">สัญญาผ่อนชำระสินค้า</h2>
        <div>
          <table>
            <tr>
              <td colspan="2" class="text">
                ที่ 99/9 แขวงบางมด เขตทุ่งครุ กรุงเทพมหานคร
              </td>
            </tr>
            <tr>
              <td colspan="2" class="text">วันที่ ______________</td>
            </tr>
            <tr>
              <td colspan="2">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ข้าพเจ้า
                นายชายสี่ หมี่เกี๊ยว
              </td>
            </tr>
            <tr>
              <td>ที่อยู่ 99/9 แขวงบางมด เขตทุ่งครุ กรุงเทพมหานคร</td>
            </tr>
            <tr>
              <td>ซึ่งในสัญญานี้จะเรียกว่า "ผู้ขาย" ฝ่าย ก</td>
            </tr>
            <tr>
              <td colspan="2">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;กับ ข้าพเจ้า
                _____________________________________________
              </td>
            </tr>
            <tr>
              <td colspan="2">
                ที่อยู่ _____________________________________________
              </td>
            </tr>
            <tr>
              <td colspan="2">ซึ่งในสัญญานี้จะเรียกว่า "ผู้ซื้อ" ฝ่าย ข</td>
            </tr>
            <tr>
              <td colspan="2">ผู้ขายและผู้ซื้อตกลงทำสัญญากันดังนี้</td>
            </tr>
            <tr>
              <td colspan="2">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ข้อ 1.
                รายการสินค้า
              </td>
            </tr>
            <tr>
              <td colspan="2">
                หมายเลขสินค้า: ____________
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ชนิดของสินค้า:
                ____________ &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                ยี่ห้อ: ____________
              </td>
            </tr>
            <tr>
              <td colspan="2">
                รุ่น: ____________
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; จำนวน:
                ____________ ชิ้น
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ราคาขาย:
                ____________ บาท
              </td>
            </tr>
            <tr>
              <td colspan="2">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ข้อ 2.
                การชำระเงิน
              </td>
            </tr>
            <tr>
              <td colspan="2">
                เงินดาวน์: ____________ บาท
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;จำนวนเงินที่ผ่อนชำระต่องวด:
                ____________ บาท
              </td>
            </tr>
            <tr>
              <td colspan="2">ระยะเวลาผ่อนชำระ: ____________ เดือน</td>
            </tr>
            <tr>
              <td colspan="2">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ข้อ 3.
                ดอกเบี้ยและค่าปรับ
              </td>
            </tr>
            <tr>
              <td colspan="2">
                อัตราดอกเบี้ย: 5% ต่อเดือน
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                ค่าปรับชำระเงินล่าช้า: 50 บาทต่อวัน
              </td>
            </tr>
            <tr>
              <td colspan="2">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ข้าพเจ้า
                นายชายสี่ หมี่เกี๊ยว และ
                _____________________________________________ <br />

                <br />
                ได้อ่านและเข้าใจในสัญญานี้ทุกประการ
                และได้ลงนามต่อหน้าพยานเป็นสำคัญ.
              </td>
            </tr>

            <tr>
              <td>ลงชื่อ ______________________________ ผู้ขาย</td>
              <td>ลงชื่อ ______________________________ ผู้ซื้อ</td>
            </tr>
            <tr>
              <td>ลงชื่อ ______________________________ พยาน</td>
              <td>ลงชื่อ ______________________________ พยาน</td>
            </tr>
          </table>
        </div>
      </div>
    </form>
  </div>
</html>
